footer {
    background-color: $silver;
    margin-top: 20px;
    padding: 20px 0px;
    @include lg {
        margin-top: 50px;
    }
    @include xl {
        margin-top: 50px;
    }

    i {
        color: $berrylight;
    }

    h2 {
        color: $shadowmountaindark;
    }

    h4 {
        color: $dullblue;
    }

    .footer1 {
        address {
            color: $shadowmountain;
        }
    }

    .footer2 {
        p {
            color: $shadowmountain;
        }
    }

    .location {
        padding-top: 16px;
    }

    .icons {
        li a {
            margin-right: 10px;
        }
    }

    input {
        outline: none;
        border: none;
        background-color: $silverlight;
        padding: 10px;
    }

    hr {
        width: 95%;
    }
}