.articletext {
    background: $olivelight;
    margin-bottom: 30px;
    padding-bottom: 16px;

    @include md {
        margin: 0px;
        padding: 0px;
    }

    @include lg {
        margin: 0px;
        padding: 0px;
    }

    @include xl {
        margin: 0px;
        padding: 0px;
    }

    .articlebutton {
        margin: 16px;
    }
}

.articletext1 {
    padding: 16px;
    color: $dullbluedark;
}

.articletext2 {
    padding: 5px 16px;
    color: $shadowmountaindark;
}

.whats-new {
    width: 100%;
}

.articleimage {
    width: 100%;
}

.newscontent {
        .pethairfree {
        background-image: url("../img/pet-hair-free.jpg");
        width: 100%;
        height: 32vh;
        background-size: cover;
        background-position: center;
        align-items: center;
        @include md {
            height: 164px;
        }
        @include lg {
            height: 164px;
        }
        @include xl {
            height: 164px;
        }
        }

        .buyingfurniture {
            background-image: url("../img/buying-furniture.jpg");
            width: 100%;
            height: 32vh;
            background-size: cover;
            background-position: center;
            align-items: center;
            @include md {
                height: 164px;
            }
            @include lg {
                height: 164px;
            }
            @include xl {
                height: 164px;
            }
        }

        .homeoffice {
            background-image: url("../img/home-office.jpg");
            width: 100%;
            height: 32vh;
            background-size: cover;
            background-position: center;
            align-items: center;
            @include md {
                height: 164px;
            }
            @include lg {
                height: 164px;
            }
            @include xl {
                height: 164px;
            }
        }

        .diningtable {
            background-image: url("../img/dining-table.jpg");
            width: 100%;
            height: 32vh;
            background-size: cover;
            background-position: center;
            align-items: center;
            @include md {
                height: 164px;
            }
            @include lg {
                height: 164px;
            }
            @include xl {
                height: 164px;
            }
        }

        .colortrends {
            background-image: url("../img/color-trends.jpg");
            width: 100%;
            height: 32vh;
            background-size: cover;
            background-position: center;
            align-items: center;
            @include md {
                height: 164px;
            }
            @include lg {
                height: 164px;
            }
            @include xl {
                height: 164px;
            }
        }
}