.whatsnew h2 {
    color: $shadowmountaindark;
}


.articletext {
    background: $olivelight;
    margin-bottom: 20px;

    .articlebutton {
        margin: 16px;
    }
}

.articletext1 {
    padding: 16px;
    color: $dullbluedark;
}

.articletext2 {
    padding: 5px 16px;
    color: $shadowmountaindark;
}

@include lg {
.newscontent {
    margin: 10px;
}
}