/* =============
    Base
============= */
figure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

.content {

    .header {
            padding-left: 16px;
            padding-top: 20px;
            padding-bottom: 10px;
    }

    .search {
        padding-left: 16px;
        padding-top: 8px;
        padding-bottom: 15px;
    }

    .hero{
        .hero-img {
            background-image: url("../img/hero.jpg");
            width: 100%;
        }

        .herolinks{
            @include md{
                display: grid;
                grid-template-columns: 40% auto;
            }

            // @include xl{
               
            // }
       
            // #hero-link-1{
            //     background-color: $berry;
            // }

            // #hero-link-2{
            //     background-color: $berrylight;
            // }

            .hero-link {
                display: block;               
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                text-decoration: none!important;
                padding: 15px 20px;   
                
                .detailshide{
                    display: none;

                    @include lg{
                        display: contents;
                    }
                }
                
            }

            // .hero-link:hover, .hero-link:active{
            //     background-color: $berrydark !important;
            //     transition: .2s;
            // }
    }

   
    }

    .explore-browse {
        display: grid;

        @include md {
            .greenads{
                display: grid;
                grid-template-columns: 300px auto;
            }
        }

        .greenads {
            display: grid;
            grid-template-columns: 60% auto;
            background-color: $olive;
            margin-bottom: 20px;
            .purplebutton {
            margin: 15px;
            width: 120px;
            }

            .furniture {
                margin: 15px;
            }

            .greenads1 {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }

    .photo-collage {

        @include md {
            display: grid;
            grid-template-columns: auto auto;
        }

        @include lg {
            grid-template-columns: 60% auto;
        }

        @include xl {
            grid-template-columns: 55% auto;
        }

        .plantwithframes {
            width: 100%;
            height: 380px;
            background-image: url("../img/plant-with-frames.jpg");
            background-size: cover;
            background-position: center;
            align-items: center;
            justify-content: center;
            @include md {
                height: 475px;
                align-items: center;
                justify-content: center;
            }
            @include xl {
                height: 826px;
                align-items: center;
                justify-content: center;
            }
        }

        .whitechair {
            width: 100%;
            height: 475px;
            background-image: url("../img/white-chair.jpg");
            background-size: cover;
            background-position: center;
            @include xl {
                height: 413px;
                align-items: center;
                justify-content: center;
            }
        }

        
        .bedroom-img {
            display: none;
            @include xl{
                display: block;
                width: 100%;
                height: 413px;
                background-image: url("../img/bedroom.jpg");
                background-size: cover;
                background-position: center;
                align-items: center;
                justify-content: center;
            }
        }
        
    }

.whats-new {

    // @include sm {
    // .articleimage {
    //     width: 321px;
    //     height: 164px;
    // }
    // }

    @include md {

    }

    .articletext {
        padding-left: 16px;
        padding-right: 16px;
        display: block;
        margin-block-start: 1fr;
        margin-block-end: auto;
    }
    .articletext1 {
        padding-top: 16px;
        padding-bottom: 8px;
    }
    .articletext2 {
        padding-bottom: 8px;
    }
    .articlebutton {
        margin-bottom: 16px;
    }

}

.footer {

    @include md {
         .news {
            display: grid;
            grid-template-columns: 350px 350px auto;
        }
    }
    .footer1 {
        display: grid;
        grid-template-columns: 30px auto;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 16px;
    }
    .footer2 {
        display: grid;
        grid-template-columns: 30px auto;
        align-items: center;
        margin-left: 16px;
        margin-bottom: 16px;
    }
    .location {
        margin-left: 16px;
    }
    .signup {
        height: 34px;
        width: 287px;
             .button {
                 height: auto;
                 }
    }

    .icons {
        display: grid;
        grid-template-columns: 30px 30px 30px 30px;
        margin-bottom: 20px;
        margin-left: 16px;
    }

}

}