/* =============
    Base
============= */
figure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

.content {
    display: grid;
    grid-template-areas:
        "header-img"
        "search"
        "hero"
        "explore-browse"
        "photo-collage"
        "whats-new"
        "footer";

.header-img {
    grid-area: header;
}

.search {
    grid-area: search;
}

.hero{
    grid-area: hero;
}

.explore-browse {
    grid-area: explore browse;
}

.photo-collage {
    grid-area: photo collage;
}

.whats-new {
    grid-area: whats new;
}

.footer {
    grid-area: footer;
}

.bedroom-img {
    display: none;
}

    @include sm{
            grid-template-columns: 100%;

        .photo-collage {
            display: grid;
        }
    }

    @include md {
        margin-bottom: 32px;
    }

    @include xl {
        margin-bottom: 64px;
    }
}