/* =============
    Typography
============= */
body{
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}

h2 {
    margin: 16px;
    font-family: 'Spartan', sans-serif;
    font-weight: 700; 
    font-size: rem-calc(20);
}

h4{
    font-family: 'Spartan', sans-serif;
    font-weight: 700; 
    font-size: rem-calc(18);
    color: white;
}

input {
    font-family: 'Spartan', sans-serif;
    font-weight: 200;
    font-size: rem-calc(25);
    color: $shadowmountain;
}

.hero-subtext{
    font-family: 'Spartan', sans-serif;
    font-weight: 400; 
    font-size: rem-calc(14);
    color: white; 
}

.detailshide{
    font-family: 'Spartan', sans-serif;
    font-weight: 700; 
    font-size: rem-calc(20);
    color: white;
}

p{
    margin: 0;
    padding: 0;
}

.section-title{
    font-weight: 300;
}

.newarrivals {
    font-family: 'Spartan', sans-serif;
    font-weight: 700; 
    font-size: rem-calc(20);
}

.articletext1 {
    font-size: rem-calc(27);
}

.articletext2 {
    font-family: 'Spartan', sans-serif;
    font-weight: 400; 
    font-size: rem-calc(18);
    color: white;
}

address {
    font-family: 'Spartan', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: rem-calc(12);
}

.footer2 {
    p {
    font-family: 'Spartan', sans-serif;
    font-weight: 500;
    font-size: rem-calc(12);
    }
}