/* =============
    Buttons
============= */
button {
    cursor: pointer;
}

#hero-link-1{
    background-color: $berry;
    color: white;
}

#hero-link-2{
    background-color: $berrylight;
    color: white;
}

.hero-link:hover, .hero-link:active{
    background-color: $berrydark !important;
    transition: .2s;
}

.purplebutton {
    background-color: $berry;
    border: none;
    outline: none;
    font-size: rem-calc(16);
    font-weight: 600;
    padding: 10px;
    transition: 0.25s;
    font-family: 'Roboto Slab', serif;
    color: white;
    width: 120px;

    &:hover {
        background-color: $berrydark;
        color: $white;
    }
}

.greenads {
    background-color: $olive;
    color: white;
    margin-top: 20px;
}

.articlebutton {
    background-color: $berry;
    padding: 8px;
    border: none;
    outline: none;
    // margin-bottom: 24px;
    font-family: 'Roboto Slab', serif;
    color: white;

    &:hover {
        background-color: $berrydark;
        color: $white;
    }
}

.signupbutton {
    background-color: $berry;
    padding: 8px;
    border: none;
    outline: none;
    font-family: 'Roboto Slab', serif;
    color: white;

    &:hover {
        background-color: $berrydark;
        color: $white;
    }
}