/* =============
    Forms
============= */

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea{
	box-shadow: none;
}

[type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus, textarea:focus{
	box-shadow: none;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
    -webkit-appearance: none;
}

.search1 {
    padding: 2px;
    .search2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    }

    .searchbar {
        @include lg {
            border: none;
            outline: none;
            background: transparent;
            padding: 20px 0px 0px;
            border-bottom: 1px solid $shadowmountaindark;
            width: 925px; 
        }


        border: none;
        outline: none;
        background: transparent;
        padding: 20px 0px 0px;
        border-bottom: 1px solid $shadowmountaindark;
        width: 230px;


        @include md {
            border: none;
            outline: none;
            background: transparent;
            padding: 20px 0px 0px;
            border-bottom: 1px solid $shadowmountaindark;
            width: 670px;
        }

        
    }

}
